<head>
    <title>Tutorial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
      <img src="/assets/images/setuLogo.jpg" alt="User"/>
   </div>
     <div class="navbar-header">
       <span class="navbar-brand">
        <strong>SmartSetu</strong>
      </span>
     </div>
 
     <label for="toggle">&#9776;</label>
     <input type="checkbox" id="toggle"/>

     <div class="menu">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#home"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>

        <li>
          <a href="#about"><span class="glyphicon glyphicon-globe"></span>About</a>
        </li>

        <li>
          <a href="#services"><span class="glyphicon glyphicon-th-list"></span>Services</a>
        </li>

        <li>
          <a href="#contact"><span class="glyphicon glyphicon-earphone"></span>Contact</a>
        </li>

        <li >
          <a class="btn" href="tel:917028807607">+91-702-880-7607</a>
        </li>
        
      </ul>
     </div>
   
 </nav>
 
<div class="all">
<section id="home">
  <div class="container">
    <img src="./assets/images/home.png" alt="Snow" style="width:100%;">
  </div>
</section>

<section id="about">
  <div class="about-section">
    <div class="para">
      <h1>About Us</h1>
      <p class="text"> SETU ENTERPRISES works towards betterment of working & living environment
        and act as one point solution for Maintenance and Improvement of Facilities such
        as
      </p>
      <ul class='menu2'>
      
          <li class='menu2'>
            <span class="icon-indent">
              <img src="/assets/images/office_logo.jpg" alt="User" style="width: 5%; height: 5%; margin-top:1%;" />
            </span>
            
            Banks, Corporate offices, Pharma Industries, Hospitals, Commercial Complexes, 
            IT Companies, Educational Institutes, Warehouses, Manufacturing Units and Residential Towers</li>

          <li class='menu2'><span class="icon-indent">
            <img src="/assets/images/time_icon.jpg" alt="User" style="width: 5%; height: 5%; margin-top:1%;" />
     
          </span> Timely Deliverables in order to maintain the routine activities of Clientele</li>
          
          <li class='menu2'><span class="icon-indent">
            <img src="/assets/images/performance.jpg" alt="User" style="width: 5%; height: 5%; margin-top:1%;" />
     
          </span> Provide end
            to end solutions for Impromptu Tasks to facilitates clientele with the help of our on
            boarded partners, while doing so our dedicated Team Leaders Tracks the Performance based on
            well defined Parameters.</li>
        
      </ul>
      </div>

      <div class="paraImage">
        <img src="/assets/images/pest_control.jpg">
      </div>
  </div>
</section>

<section id="services">
    <h1>Services We Offer</h1>
    <div class="service-body">
      <div class="service-container">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="./assets/images/home.jpg" style="width: 300px; height: 300px;">
              <h3>Home Sanitation</h3>
            </div>
          </div>
    
          <div class="face face2">
            <div class="content">
              <p>
                Novel coronavirus can live on surfaces such as paper for 1 day, but up to two or three
           days on plastic and stainless steel. So it is required to sanitize home.
              </p>
    
              <a href="#cost">Book Now</a>
            </div>
          </div>
    
        </div>
    
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="./assets/images/office.jpg" style="width: 300px; height: 300px;">
              <h3>Office Sanitation</h3>
            </div>
          </div>
    
          <div class="face face2">
            <div class="content">
              <p>
                In your office premise, though all areas are not infected, it is very difficult to find the place that is infected.
          People can interact with each other for any kind of work. So it is necessary to sanitize company's premise.
              </p>
    
              <a href="#cost">Book Now</a>
            </div>
          </div>
    
        </div>

        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="./assets/images/bank.jpg" style="width: 300px; height: 300px;">
              <h3>Bank Sanitation</h3>
            </div>
          </div>
    
          <div class="face face2">
            <div class="content">
              <p>
                Number of customers visit bank to withdraw or deposit money or to take loan. For money transactions, person interact with each other.
                This is one of the reason for Bank sanitation.
              </p>
    
              <a href="#cost">Book Now</a>
            </div>
          </div>
    
        </div>
    
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="./assets/images/car.jpg" style="width: 300px; height: 300px;">
              <h3>Car Sanitation</h3>
            </div>
          </div>
    
          <div class="face face2">
            <div class="content">
              <p>
                Frequently touched surfaces, like steering wheel, door handles, passenger and driver door armrests and seat adjusters 
          must be cleaned thoroughly and disinfected to minimize the risk of spreading infection.
              </p>
    
              <a href="#cost">Book Now</a>
            </div>
          </div>
    
        </div>
    
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="./assets/images/school.jpg" style="width: 300px; height: 300px;">
              <h3>School Sanitation</h3>
            </div>
          </div>
    
          <div class="face face2">
            <div class="content">
              <p>
                Frequently touched surfaces,like railings, lunch tables, sports equipment, door, and many more. Sanitizing helps to kill 
          germs and make surface disinfectant.
              </p>
    
              <a href="#cost">Book Now</a>
            </div>
          </div>
    
        </div>
    
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="./assets/images/garden.jpg" style="width: 300px; height: 300px;">
              <h3>Garden Sanitation</h3>
            </div>
          </div>
    
          <div class="face face2">
            <div class="content">
              <p>
                Garden Sanitation includes adding fertilizers and removal of infected crops and seeds.
          Fungi, viruses and some insects can damage the crop. That's why Garden sanitation is required.
              </p>
    
              <a href="#cost">Book Now</a>
            </div>
          </div>
    
        </div>
    
      </div>
    </div>
  </section>

<section id="cost">
    
  <h1>Cost Details</h1>
  <h4>*Discount Applicable only for full payment</h4>
  
<div class="ulv-cost">
  <table >
    <tr>
      <th>Sr No</th>
      <th>Property</th>
      <th>Amount<br>(Original)</th>
      <th>Amount(After Discount)</th>
    </tr>
    <tr>
      <td>1</td>
      <td>1BHK</td>
      <td>Rs.1000</td>
      <td>Rs.900</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2BHK</td>
      <td>Rs.2000</td>
      <td>Rs.1700</td>
    </tr>
    <tr>
      <td>3</td>
      <td>3BHK</td>
      <td>Rs.3000</td>
      <td>Rs.2500</td>
    </tr> 
    <tr>
      <td>4</td>
      <td>Villa</td>
      <td>Rs.5000</td>
      <td>Rs.4000</td>
    </tr>
    <tr>
      <td>5</td>
      <td>SUV</td>
      <td>Rs.1000</td>
      <td>Rs.900</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Goods Carrier</td>
      <td>Rs.2000</td>
      <td>Rs.1800</td>
    </tr>
  </table>
  
  <h1>ULV Machine</h1>
  <p>Misting using a ULV machine leaves disinfectant residues on the horizontal and vertical
    surfaces that kills corona virus</p>
  <p>The disinfection treatment is done by professional trained manpower taking great care
    to ensure the highest safety standards are adhered to.</p>
  <p>A team of two can do disinfectant treatment of around 10 000 sq ft in one hour</p>

</div>
  
   <form class="cost-container" #costForm="ngForm" novalidate method="post" autocomplete="off" name="google-sheet">
      <h3>Book Now</h3>
      <label>Full Name</label>
      <input
        type="text"
        class="form-control"
        #name="ngModel"
        pattern="^[A-Za-z\s]{3,20}$"
        placeholder="Enter Full Name"
        id="fullName"
        name="Name"
        [(ngModel)]="costClass.name"
        required
      />
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <small class="text-danger">
          <small *ngIf="name.errors.required || name.errors.pattern">
            Name is required.
          </small>
        </small>
      </div>
      
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        #emails="ngModel"
        placeholder="E-mail"
        id="email"
        name="Email"
        [(ngModel)]="costClass.email"
        required
      />
  
      <div *ngIf="emails.invalid && (email.dirty || emails.touched)">
        <small class="text-danger">
          <small *ngIf="emails.errors.required">
            E-Mail is required.
          </small>
          <small *ngIf="emails.errors.pattern">
            Invalid Email
          </small>
        </small>
      </div>
      <label>Phone Number</label>
      <input
        type="text"
        name="Phone"
        pattern="^[0-9]{10}$"
        #phone="ngModel"
        [(ngModel)]="costClass.phoneNumber"
        class="form-control"
        placeholder="Mobile Number"
        required
      />
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
        <small class="text-danger">
          <small *ngIf="phone.errors.required">
            Phone Number is mandatory.
          </small>
          <small *ngIf="phone.errors.pattern">
            Invalid Number.
          </small>
        </small>
      </div>
      
      <!-- <div class="form-group">
        <label for="service">Services</label>
        <br />
        <label class="radio-inline" style="display: inline;">
          <input
            type="radio"
            name="Role"
            [(ngModel)]="costClass.role"
            value="1BHK"
            required
            #selectedBy="ngModel"
          />1BHK
        </label>
        <label class="radio-inline">
          <input
            type="radio"
            name="role"
            [(ngModel)]="costClass.role"
            value="2BHK"
            #selectedBy="ngModel"
            required
          />2BHK
        </label>
        <label class="radio-inline">
          <input
            type="radio"
            name="role"
            [(ngModel)]="costClass.role"
            value="3BHK"
            #selectedBy="ngModel"
            required
          />3BHK
        </label>
        <label class="radio-inline">
          <input
            type="radio"
            name="role"
            [(ngModel)]="costClass.role"
            value="Villa"
            #selectedBy="ngModel"
            required
          />Villa
        </label>
        <label class="radio-inline">
          <input
            type="radio"
            name="role"
            [(ngModel)]="costClass.role"
            value="SUV"
            #selectedBy="ngModel"
            required
          />SUV
        </label>
        <label class="radio-inline">
          <input
            type="radio"
            name="role"
            [(ngModel)]="costClass.role"
            value="Goods Carrier"
            #selectedBy="ngModel"
            required
          />Goods Carrier
        </label>
        <div
          *ngIf="selectedBy.invalid && (selectedBy.dirty || selectedBy.touched)"
        >
          <small class="text-danger">
            <small *ngIf="selectedBy.errors.required">
              Field is mandatory.
            </small>
          </small>
        </div>
      </div> -->
      
      <div class="col-sm-4">
        <select name="role" (change)="selectChangeHandler($event)" style="color: black;">
          <option name="role" value="1000" name="1BHK">1BHK</option>
          <option name="role" value="2000" name="2BHK">2BHK</option>
          <option name="role" value="3000" name="3BHK">3BHK</option>
          <option name="role" value="5000" name="Villa">Villa</option>
          <option name="role" value="1000" name="SUV">SUV</option>
          <option name="role" value="2000" name="Goods Carrier">Goods Carrier</option>
      </select>
      </div>
      <div class="col-sm-3">
        <p>Amount: </p>
      </div>
      <div class="col-sm-5" style="background-color:#ffffcc; color: black;">
        <p name="amount">{{selectedDay}}</p>
      </div>

      <br>
      
      <div class="col-sm-6">
        <p>After Discount Amount: </p>
      </div>
      <div class="col-sm-6" style="background-color:#ffffcc; color: black;">
        <p name="payAmount">{{discountAmount}}</p>
      </div>
      
      
      <input type="submit" value="Submit" (click)="costSubmit()" [disabled]="costForm.form.invalid"/>
    </form> 
   

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  
</section>

  <section id="testimonials">
    <h1>Client Testimonials</h1>

  <div class="clients">
    <div id="slideshow1">
      <div class="slide-wrapper">
        <div class="slide">
          <p>SETU managed to serve disinfection treatment even in this Pandemic situation at our Fort office on the same day of
             request Thanks and keep it up.</p>
          <h3 style="margin-top: -30px;">Admin Dept, RBI, Mumbai</h3>
          <img src="/assets/images/rbi.jpg" alt="User"/>
        </div>
        <div class="slide">
         <div class="nabard">
          <p>NABARD appreciate the efforts and execution of SETU in disinfecting our Office and residential premises in most 
          difficult times of COVID 19 outbreak We really appreciate your concerns and care for your customers Keep it up!</p></div>
          <h3 style="margin-top: -45px;">Admin Dept, NABARD</h3>
          <img src="/assets/images/nabard.jpg" alt="User"  />
        </div>
        <div class="slide">
          <p>We are happy to get disinfectant service done by SETU. Seamless experience.</p>
          <h3 style="margin-left: -70px;">Admin Manager, Ayan Works</h3>
          <img src="/assets/images/ayan.jpg" alt="User"  />
        </div>
        <div class="slide">
          <p>Thanks for serving our society. I was looking for this service and got connected to SETU. Thanks</p>
          <h3>Chairman, Sunwinds</h3>
          <img src="/assets/images/sunwind.jpg" alt="User"  />
        </div>
      </div>
    </div>

    <div id="slideshow2">
      <div class="slide-wrapper">
        <div class="slide">
          <p style="font-size: 20px;">NABARD appreciate the efforts and execution of SETU in disinfecting our Office and residential premises in most 
          difficult times of COVID 19 outbreak We really appreciate your concerns and care for your customers Keep it up!</p>
          <h3 style="margin-top: -45px;">Admin Dept, NABARD</h3>
          <img src="/assets/images/nabard.jpg" alt="User" style="width: 10%; height: 10%; margin-top:-15%; margin-left: 350px;" />
        </div>
        <div class="slide">
          <p>We are happy to get disinfectant service done by SETU. Seamless experience.</p>
          <h3 style="margin-left: -70px;">Admin Manager, Ayan Works</h3>
          <img src="/assets/images/ayan.jpg" alt="User" style="width: 15%; height: 10%; margin-top:-15%; margin-left: 350px;" />
        </div>
        <div class="slide">
          <p>Thanks for serving our society. I was looking for this service and got connected to SETU. Thanks</p>
          <h3>Chairman, Sunwinds</h3>
          <img src="/assets/images/sunwind.jpg" alt="User" style="width: 10%; height: 10%; margin-top:-15%; margin-left: 350px;" />
        </div>
        <div class="slide">
          <p>SETU managed to serve disinfection treatment even in this Pandemic situation at our Fort office on the same day of
             request Thanks and keep it up.</p>
          <h3 style="margin-top: -30px;">Admin Dept, RBI, Mumbai</h3>
          <img src="/assets/images/rbi.jpg" alt="User" style="width: 10%; height: 10%; margin-top:-15%; margin-left: 350px;" />
        </div>
      </div>
    </div>

  </div>
<br>
  </section>

  <section id="contact">
    <h1>Contact Us</h1>
  <h5>Have any questions?We are here to help!</h5>
  
  <div class="row">
    <div class="enquiry">
      <img src="/assets/images/enquiry.jpg" alt="User" />
    </div>
    <div class="contactBox">

      <div class="address">
        <h4 style="margin-top: -40%;">Reach us: </h4>
        <p><span class="glyphicon glyphicon-map-marker" style="font-size: large;"></span>SETU ENTERPRISES
          OFFICE NO. 08, SANYOGITA APARTMENT, LANE NO. 03,
          BHANDARKAR ROAD, DECCAN, PUNE 411 004</p>
      </div>

      <div class="stats" style="margin-top: 25px; color: coral;">
         You can mail us. Our team would be happy to help you. or even you give us a call.
      </div>
     
      <li>
        <a href="mailto:enquiry.setu@gmail.com" style="color: indigo;"><span class="glyphicon glyphicon-envelope"></span> enquiry.setu@gmail.com</a>
      </li>
    
      <li>
        <a href="tel:917028807607" style="color: indigo;"><span class="glyphicon glyphicon-earphone"></span>+91-702-880-7607</a>
      </li>
    </div>
    <div class="feedbackBox">
      <img src="/assets/images/img_avatar.jpg" class="avatar" alt="User" />
    <form #enForm="ngForm" novalidate method="post" autocomplete="off" name="google-sheet2">

      <label>Full Name</label>
      <input type="text" class="form-control" #name2="ngModel"
        pattern="^[A-Za-z\s]{3,20}$" placeholder="Enter Full Name" id="fullName"
        name="fullName" [(ngModel)]="userDetails.name" required/>

      <div *ngIf="name2.invalid && (name2.dirty || name2.touched)">
        <small class="text-danger">
          <small *ngIf="name2.errors.required || name2.errors.pattern">
            Name is required.
          </small>
        </small>
      </div>
      
      <label>Email</label>
      <input type="email" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        #email="ngModel" placeholder="E-mail" id="email" name="email"
        [(ngModel)]="userDetails.email" required/>
  
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <small class="text-danger">
          <small *ngIf="email.errors.required">
            E-Mail is required.
          </small>
          <small *ngIf="email.errors.pattern">
            Invalid Email
          </small>
        </small>
      </div>

      <label>Phone Number</label>
      <input type="text" name="no" pattern="^[0-9]{10}$" #no="ngModel"
        [(ngModel)]="userDetails.phoneNumber" class="form-control" placeholder="Mobile Number"
        #mobile="ngModel" required/>

      <div *ngIf="no.invalid && (no.dirty || no.touched)">
        <small class="text-danger">
          <small *ngIf="no.errors.required">
            Phone Number is mandatory.
          </small>
          <small *ngIf="no.errors.pattern">
            Invalid Number.
          </small>
        </small>
      </div>
  
      <div class="form-group">
        <label>Feedback</label>
        <input type="text" id="feedback" name="feedback" [(ngModel)]="userDetails.feedback"
          class="form-control" #feedback="ngModel" placeholder="Enter your Feedback" required/>
      </div>
      
      <div *ngIf="feedback.invalid && (feedback.dirty || feedback.touched)">
        <small class="text-danger">
          <small *ngIf="feedback.errors.required || feedback.errors.pattern">
            Feedback is required.
          </small>
        </small>
      </div>
      
      <input type="submit" name="submit" value="Send Feedback"
        (click)="onSubmit()" [disabled]="enForm.form.invalid" />
        
      <br>
     
    </form>
    </div>
  </div> 
  </section>
</div>

